body {
	text-align: left;
	font-family: verdana, sans-serif;
	color: #57595c;
}

/* Nav */

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.header-logo {
	font-weight: bold;
}

header {
	z-index: 1;
	height: 64px;
}
header img {
	height: 32px;
	padding-left: 24px;
}


header nav {
	text-align: right;
	flex-grow: 1;
}

span a {
	color: #57595c;
	text-decoration: none;
}

nav{
	padding-right: 24px;
}

nav span {
	display: inline-block;
	padding-left: 16px;
}

/* banner */
.banner-container {
	display: flex;
	background-color: lightgrey;
	height: 100%;
	width: 100%;
}

.banner {
	display: flex;
	align-items: center;
	padding-right: 24px;
}

.banner img {
	float: left;
	height: auto;
	width: 60%;
	padding-left: 24px;
	padding-top:32px;
	padding-bottom: 32px;
	display: inline-flex;
}

.banner--text {
	display: inline-block;
	text-align: left;
	padding-left: 24px;
}

.banner--cta {
	z-index: 1;
	background-color: black;
	padding: 8px 32px 8px 32px;
}

.banner--cta a {
	color: white;
	text-decoration: none;
}

/* information */

.information-container {
	display: flex;
	background-color: white;
	width: 100%;
	height: auto;
}

.information-left {

}

.information-left img {
	width: 60%;
	height: auto;
	padding-top: 32px;
	padding-left: 24px;
	padding-right: 24px;
	display: inline-flex;
}

.information-left h2 {
	display: inline-block;
	padding-top: 32px;
	padding-left: 24px;
} 
.information-left p {
	font-weight: lighter;
	width: 60%;
	padding: 24px 24px 32px 24px;
}

.information-right {
	display: inline-block;
	padding-left: 24px;
	width: 100%;
	border: 1px solid grey;
}

.information-items {
	border: 1px solid grey;
	display: inline-flex;
}

.information-right img {
	width: 100%;
	height: auto;
	display: inline-flex;
	float: left;
}

.information--text {
	display: inline-block;
	padding-left: 24px;
}

/* course */

.course-container {
	background-color: lightgrey;
	width: 100%;
}

.course-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 32px 72px 32px 72px;

}

.course-container h2 {
	text-align: center;
	padding-top: 32px;
}

.course-item {

	justify-content: space-around;
	width: 100%;
	height: auto;

}

.course-item h3 p {


}

/* Thesis exhibit */

.thesis-container h2 {
	text-align: center;
	padding-top: 32px;
}

.thesis-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thesis-left video {
	width: 600px;
	height: auto;

}

.thesis-left p {
	width: 60%;
 
}

.thesis-right {
	
	float: left;
}













