body {
	text-align: left;
	font-family: verdana, sans-serif;
	color: #57595c;
}

/* Nav */

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 16px;
}
.header-logo {
	font-weight: bold;
}

#Mobile {
	display: none;
}

header {
	z-index: 1;
	height: 64px;
}
header img {
	height: 32px;
	padding-left: 24px;
}


header nav {
	text-align: right;
	flex-grow: 1;
}

span a {
	color: #57595c;
	text-decoration: none;
}

nav{
	padding-right: 24px;
}

nav span {
	display: inline-block;
	padding-left: 16px;
}

/* banner */
.banner-container {
	display: flex;
	background-color: lightgrey;
	height: 100%;
	width: 100%;
}

.banner {
	display: flex;
	align-items: center;
	padding-right: 24px;
}

.banner img {
	float: left;
	height: auto;
	width: 60%;
	padding-left: 24px;
	padding-top:32px;
	padding-bottom: 32px;
	display: inline-flex;
}

.banner--text {
	display: inline-block;
	text-align: left;
	padding-left: 24px;
}

.banner--cta {
	z-index: 1;
	background-color: black;
	padding: 8px 32px 8px 32px;
}

.banner--cta a {
	color: white;
	text-decoration: none;
}

/* information */

.information-container {
	display: flex;
	background-color: white;
	width: 100%;
	height: 100%;
}

.information-left {
	width: 60%;
	padding-left: 24px;
}

.information-left img {
	width: 100%;
	padding-top: 32px;
	padding-right: 24px;

}

.information-left h2 {
	padding-top: 24px;
} 
.information-left p {
	font-weight: lighter;
	padding: 0px 24px 32px 0px;
}

.information-right {
	padding-top: 32px;
	width: 40%;
	flex-direction: column;
	margin-left: 24px;
	border: 0.25px solid lightgrey;
}

.information-items {
	align-items: center;
	border: 0.25px solid lightgrey;
	display: inline-flex;
	position: relative;
}

.information-right img {
	padding: 16px 16px;
	width: 35%;
	height: auto;
	position: relative;
	
}

.information--text {
	width: 65%;
	display: inline-block;
}

.information--text a {
	text-decoration: none;
	color: cornflowerblue;
}


/* course */

.course-container {
	background-color: aliceblue;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.course-container h2 {
	text-align: center;
}

.course-content {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 32px 72px 32px 72px;
}

.course-items {
	width: initial;
	background-color: white;
	display: inline-block;
	margin: 0px 32px 32px 18px;
}

.course-items img {
	width: 100%;
}

.course--text {
	padding-left: 18px;
	padding-right: 18px;
	word-wrap: break-word;
}

.course--text p {
	font-weight: lighter;
}



/* Thesis exhibit */

.thesis-container h2 {
	text-align: center;
	padding-top: 32px;
}

.thesis-content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.thesis-left {
	width: 60%;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 32px;

}

.thesis-left video {
	width: 100%;
	height: auto;
}

.thesis-left h3 {
	padding-top: 16px;
	padding-bottom: 8px;
}

.thesis-right p {
	padding-bottom: 32px;
	font-weight: lighter;

}

.thesis-right {
	width: 40%;
	padding-top: 32px;
}

.thesis-items{
	align-items: flex-start;
	justify-content: center;

}

.thesis-right-content {
	display: inline-flex;
	background-color: whitesmoke;
}

.thesis-right-content img {
	padding: 16px 16px;
	width: 35%;
	height: auto;
}

.thesis--text {
	width: 65%;
}

.thesis--text p {
	font-weight: lighter;
}

/* footer */

.divider {
	border-top: 0.25px solid lightgrey;
}

.footer{
	
}

footer{
	padding-left: 24px;
}

footer a {
	text-align: right;
	display: inline-block;
	flex-grow: 1;
	text-decoration: none;
	color: cornflowerblue;
}

footer p {
	text-align: left;
}
.flex-footer {
	display: inline-block;
	font-size: 0.7em;
}








